<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>417827500870-7e2mp2tsselu6a6fak34onb4dar1enq3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.417827500870-7e2mp2tsselu6a6fak34onb4dar1enq3</string>
	<key>API_KEY</key>
	<string>AIzaSyAG324ubA4LVJqpiIk9lMl53FTCvLl9Pjo</string>
	<key>GCM_SENDER_ID</key>
	<string>417827500870</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.matter.innerverse</string>
	<key>PROJECT_ID</key>
	<string>innerverse-f9540</string>
	<key>STORAGE_BUCKET</key>
	<string>innerverse-f9540.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:417827500870:ios:f8a24893ba9bd2fe27eb47</string>
</dict>
</plist>